html {
  scroll-behavior: smooth;
}
body {
  display: block;
  background-color: #1E2549;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-bottom: 2.5rem;
}
nav {
  padding-top: 15px;
  position: -webkit-sticky;
  position: sticky;
}
img {
  width: 40px;
}
.links :hover{
  text-decoration: none;
}
.button {
  background-color: #0E4A2A;
  color: #F7F7F7;
  font-size: 18px;
  border: none;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
}
.navbar-left {
  float: left;
}
.navbar-left a {
  color: #F7F7F7;
  justify-content: center;
  text-align: center;
  padding: 10px;
}
.navbar-right {
  float: right;
  padding-right: 50px;
}
.navbar-right a {
  color: #F7F7F7;
  justify-content: center;
  text-align: center;
  padding: 30px;
  font-size: 20px;
}
/* Change the color of links on hover */
  /* .navbar a:hover {
    background-color: #ddd;
    color: black;
  } */
  
/* Add a color to the active/current link */
  /* .navbar a.active {
    background-color: #04AA6D;
    color: white;
  } */
.intro {
  display: inline-block;
  padding-top: 300px;
  padding-left: 85px;
  color: #DADCE8;
}
.typed-out {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 0.7s steps(40, end) forwards;
  font-size: 5rem;
  width: 0;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
.about-me {
  margin-top: 100rem;
  color: #DADCE8;
}
#footer {
  display: flex;
  position: absolute;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  color: #DADCE8;
}
  